{{#*inline "page"}}
<h1>{{ state_name }} Senate Election (2016)</h1>

<form method="post">
  <div>
    <label for="num_senators">Number of senators to elect</label>
    <input name="num_senators">
  </div>
  <button>Run Election</button>
</form>
{{/inline}}
{{~> base}}
