{{#*inline "page"}}
<h1>{{title}}</h1>
<form method="post">
  <div>
    <label for="disqualified">Disqualified Senators</label><br>
    <textarea name="disqualified"></textarea>
  </div>
  <button>Run Election</button>
</form>
{{/inline}}
{{~> base}}
