{{#*inline "page"}}
<h1 id="title">{{title}}</h1>
<div id="content">
<p>In the box below you can enter the names of candidates to exclude from the
calculation. Please enter the first and last name of each candidate, with one candidate
per line (press enter for a new line). If you get an error, please check your spelling and
formatting.
</p>
<div id="setup_form">
<form method="post" class="pure-form pure-form-stacked">
  <div class="pure-control-group">
    <label for="disqualified">Disqualified Senators</label>
    <textarea name="disqualified"></textarea>
  </div>
  <div class="pure-controls">
    <button class="pure-button pure-button-primary">Run Election</button>
  </div>
</form>
</div>
</div>
{{/inline}}
{{~> base}}
